{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div class="login-container">
    <h2>Login</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label }}<br>
            {{ form.email(class_='input-field') }}
        </div>
        <div class="form-group">
            {{ form.password.label }}<br>
            {{ form.password(class_='input-field') }}
        </div>
        <div class="form-group">
            {{ form.submit(class_='submit-btn') }}
        </div>
    </form>
    <p class="register-link">No account yet? <a href="{{ url_for('register') }}">Register</a></p>
</div>
{% endblock %}
